

<div class="form-group row mb-3 mt-3">
    <div class="col-xs-3 mr-3">
        <input class="form-control" type="text" ng-model="search.title" placeholder="search by title">
    </div>
    <div class="col-xs-3 mr-3">
        <input class="form-control" type="text" ng-model="search.keyword" placeholder="search by keyword">
    </div>
    <div class="col-xs-3 mr-3">
        <input class="form-control" type="text" ng-model="search.location" placeholder="search by location">
    </div>
    <div class="col-xs-3 mr-3">
        <button class="btn" ng-click="search()">Search</button>
    </div>
    <div class="col-xs-3 mr-3">
        <button class="btn" ng-click="reset()">Reset</button>
    </div>
    <button ng-class="applied?'btn btn-primary btn-sm mr-3':'btn btn-sm mr-3'" ng-click="getAppliedJobs()">Applied Jobs</button>
<button ng-class="saved?'btn btn-primary btn-sm':'btn btn-sm'" ng-click="getSavedJobs()">Saved Jobs</button>
</div>


<div class="card card-body" ng-repeat="job in jobs">
    <h5>{{job.title}}</h5>
    <h6>{{job.location}}</h6>
    <p>{{job.description}}</p>
</div>

<!-- <div class="card card-body" ng-if="saved" ng-repeat="job in jobs">
    <h5>{{job.title}}</h5>
    <h6>{{job.location}}</h6>
    <p>{{job.description}}</p>
</div> -->